body {
    background-color: black;
    color: white;
}

.error404 {
    font-size: 500px;
    font-family: 'Bebas Neue', sans-serif;
    margin: 50px auto 50px auto;
    
    display: inline-block;
}

ul {
    display: inline-block;
    list-style: none;
}

a {
    color: var(--secondary-color);
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
    font-variant: small-caps;
}