/* Variables */
:root {
    --background-color: #121212;
    
    --primary-color: #cf93fd;
    --primary-light: #f4e5fe;
    
    --card-color: transparent;
    --card-color-hover: rgba(255, 255, 255, 0.08);
    --card-outline: rgba(255, 255, 255, 0.38);
}

/* Small modifications */
* {
	color: white;
}

button {
    color: black;
}