/* Variables */
:root {
    --primary-color: #4cb4ff;
    --primary-light: #b9deff;
    
    --secondary-color: #ff9100;
    --secondary-light: #ffc246;
    
    --background-color: #121212;
    --surface-color: #1f1f1f;
    --surface-color-hover: #313131;
}

/* Small modifications */
* {
    color: white;
}

.navigation a {
    color: white;
}