/* Variables */
:root {
    --background-color: #fff;
    
    --primary-color: #9700f9;
    --primary-light: #a93dfc;
    
    --card-color: transparent;
    --card-color-hover: transparent;
    --card-outline: rgba(0, 0, 0, 0.38);
}

/* Modifications */
* {
	color: #000;
}

#theme-button {
    background-color: black;
    color: white;
}

button {
    border: 1px solid var(--primary-color);
    color: white;
}