/* Variables */
:root {
    --background-color: #fff;
    
    --primary-color: #9700f9;
    --primary-light: #a93dfc;
    
    --card-color: transparent;
    --card-color-hover: transparent;
    --card-outline: rgba(0, 0, 0, 0.38);
}

/* Small modifications */
* {
    color: black;
}