/* Variables */
:root {
    --card-shadow: 0 8px 10px #00000020;
    --card-shadow-hover: 0 8px 20px #00000080;
}

/* CSS for links, headings, paragraphs, etc. */
body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    
    transition: background-color 500ms, color 1000ms;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    font-variant: small-caps;
}

p, a {
    font-size: 18px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: all 500ms;
}

a:hover {
    color: var(--primary-light);
}

/* CSS for midsection and footer */
#theme-button {
    background-color: var(--secondary-color);
    
    left: 100px;
    top: 50px;
}

#comic-image {
    width: 40%;
}

footer {
    display: block;
    float: center;
    margin: 50px auto 50px auto;
    width: 50%;
    text-align: center;
}

/* CSS for Material cards, buttons, etc. */
.mdc-fab:hover {
    box-shadow: var(--card-shadow-hover);
    transform: scale(1.1);
}

.card {
    background-color: var(--surface-color);
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    
    text-align: center;
    display: block;
    margin: 12px 50px 12px 50px;
	padding: 15px;
    
    transition: all 500ms;
}

.card:hover {
    background-color: var(--surface-color-hover);
    box-shadow: var(--card-shadow-hover);
}
